.hidden {
  display: none;
}

.main-head {
  position: relative;
}

.main-head img {
  display: block;
  margin: 0 auto 24px;
}

.main-head h3 {
  text-align: center;
  color: #101828;
  font-weight: 700;
  font-size: 1.4rem;
}


.main {
  padding: 64px 112px;
}

.links-parent {
  padding: 10px;
}

.links-parent > ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px 0;
  width: 100%;
  list-style: none;
  padding: 0;
}

.links-parent > ul li {
  padding: 24px 32px;
  background-color: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
}

.socials {
  padding: 24px 0;
  margin: 24px auto 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 80px;
  gap: 32px;
}

@media (max-width: 900px) {
  .main {
    padding: 64px 10%;
  }
}

@media (max-width: 700px) {
  .foot {
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 16px;
  }
  .foot .zuri {
    width: 140px !important;
    max-width: unset !important;
  }
  .foot .i4g {
    width: 91px !important;
    max-width: unset !important;
  }
}
